<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/layout}"
>
<head>
    <title>Admin Home</title>
</head>
<body>
<div data-layout-fragment="content">
    <div class="jumbotron">
        <h1>Welcome to Administrator Home</h1>
        <p>Choose an action below.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h1>Flights</h1>
            <p>Create, edit and publish flights.</p>
            <a class="btn btn-primary" href="/manage/flights">Manage Flights</a>
        </div>
        <div class="col-md-3">
            <h1>Orders</h1>
            <p>View all orders.</p>
            <a class="btn btn-primary" href="/manage/orders">Manage Orders</a>
        </div>
        <div class="col-md-3">
            <h1>Passengers</h1>
            <p>View and edit passengers.</p>
            <a class="btn btn-primary" href="/manage/passengers">Manage Passengers</a>
        </div>
        <div class="col-md-3">
            <h1>Administrators</h1>
            <p>View, create and edit administrators.</p>
            <a class="btn btn-primary" href="/manage/flights">Manage Administrators</a>
        </div>
    </div>
</div>
</body>
</html>