<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/layout}"
>
<head>
    <title>My Orders</title>
</head>
<body>
<div data-layout-fragment="content">
    <div class="page-header">
        <h1>My Orders</h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Creation Time</th>
            <th>Flight Number</th>
            <th>From</th>
            <th>To</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Seat</th>
            <th>Price</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="order:${orders}">
            <td data-th-text="${order.creationTime}"></td>
            <td data-th-text="${order.flightNumber}"></td>
            <td data-th-text="${order.origin}"></td>
            <td data-th-text="${order.destination}"></td>
            <td data-th-text="${order.departureTime.toString().replace('T',' ')}"></td>
            <td data-th-text="${order.arrivalTime.toString().replace('T',' ')}"></td>
            <td data-th-text="${order.seat}"></td>
            <td data-th-text="${order.price}"></td>
            <td data-th-text="${order.status}"></td>

            <td>
                <a class="col-md-1" data-th-href="@{'/passenger/orders/'+${order.id}+'/pay'}"
                   data-th-if="${order.status.toString()}=='UNPAID'">Pay</a>
                <a class="col-md-1" data-th-href="@{'/passenger/orders/'+${order.id}+'/cancel'}"
                   data-th-if="(${order.status.toString()}=='PAID') or (${order.status.toString()}=='UNPAID')">Cancel</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>