<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/layout}"
>
<head>
    <title>Payment</title>
</head>
<body>
<div data-layout-fragment="content">
    <div class="page-header">
        <h1>Payment</h1>
    </div>
    <form data-layout-fragment="form" class="col-md-6" action="#"
          data-th-action="@{'/passenger/orders/'+${orderId}+'/pay'}"
          method="post">
        <h2>From <b data-th-text="${flight.origin}"></b>
            <small data-th-text="${flight.departureTime.toString().replace('T',' ')}"></small>
        </h2>
        <h2>To <b data-th-text="${flight.destination}"></b>
            <small data-th-text="${flight.arrivalTime.toString().replace('T',' ')}"></small>
        </h2>
        <h3>Flight <b data-th-text="${flight.flightNumber}"></b></h3>
        <h3>Price <b data-th-text="${flight.price}"></b></h3>
        <h3>Passenger <b data-th-text="${passenger.getDisplayName()}"></b></h3>
        <h3>Seat <b data-th-text="${seat}"></b></h3>
        <br/>
        <button class="btn btn-primary" type="submit">Buy Buy Buy</button>
        <a class="btn btn-link" href="/passenger/orders">Not Now</a>
    </form>
</div>
</body>
</html>