<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/layout}"
>
<head>
    <title>Book Flight</title>
</head>
<body>
<div data-layout-fragment="content">
    <div class="page-header">
        <h1>Book Flight</h1>
    </div>
    <form data-layout-fragment="form" class="col-md-6" action="#" data-th-action="@{'/passenger/flights/book'}"
          data-th-object="${model}"
          method="post">
        <h2>From <b data-th-text="${flight.origin}"></b>
            <small data-th-text="${flight.departureTime.toString().replace('T',' ')}"></small>
        </h2>
        <h2>To <b data-th-text="${flight.destination}"></b>
            <small data-th-text="${flight.arrivalTime.toString().replace('T',' ')}"></small>
        </h2>
        <h3>Flight <b data-th-text="${flight.flightNumber}"></b></h3>
        <h3>Price <b data-th-text="${flight.price}"></b></h3>
        <h3>Passenger <b data-th-text="${passenger.getDisplayName()}"></b></h3>
        <div class="form-group">
            <label data-th-for="${#ids.next('price')}">Seat</label>
            <select class="form-control" data-th-field="*{seat}">
                <option data-th-each="seat:${seats}" data-th-value="${seat}" data-th-text="${seat}"></option>
            </select>
        </div>
        <input type="hidden" data-th-field="*{flightId}">
        <button class="btn btn-primary" type="submit">OK</button>
    </form>
</div>
</body>
</html>