<!DOCTYPE html>
<
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button"
                    data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flight Booking</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/passenger">Passenger</a></li>
                <li><a href="/manage">Admin</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${loggedIn}"><p class="navbar-text navbar-right">Hello <span
                        th:text="${currentUserDisplayName}"></span> <a href="/logout">Logout</a></p></li>
                <li th:unless="${loggedIn}"><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>

</nav>
</body>
</html>