<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/layout}"
>
<head>
    <title>Manage Orders</title>
</head>
<body>
<div data-layout-fragment="content">
    <div class="page-header">
        <h1>Manage Orders</h1>
    </div>
    <table class="table table-hover">
        <thead>
        <th>Creation Time</th>
        <th>Flight</th>
        <th>Passenger</th>
        <th>Price</th>
        <th>Status</th>
        </thead>
        <tbody>
        <tr data-th-each="order:${orders}">
            <td data-th-text="${order.creationTime}"></td>
            <td>
                <a data-th-text="${order.flightNumber}"
                   data-th-href="'/manage/flights/'+${order.flightId}"></a></td>
            <td data-th-text="${order.passengerName}"></td>
            <td data-th-text="${order.price}"></td>
            <td data-th-text="${order.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>