<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/layout}"
>
<head>
    <title>Available Flights</title>
</head>
<body>
<div data-layout-fragment="content">
    <div class="page-header">
        <h1>Available Flights</h1>
    </div>
    <form action="/flights" method="get">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input id="city" name="city" type="text" class="form-control" placeholder="Search by city"
                           data-th-value="${searchCity}"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input id="flightNumber" name="flightNumber" type="text" class="form-control"
                           placeholder="Search by flight number"
                           data-th-value="${searchFlightNumber}"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Departure Date</span>
                    <input id="date" name="date" type="date" class="form-control" data-th-value="${searchDate}"/>
                </div>
            </div>
            <div class="col-md-1">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
    <table class="table table-hover">
        <thead>
        <th>Flight Number</th>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Remaining Seats</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr data-th-each="flight:${flights}">
            <td data-th-text="${flight.flightNumber}"></td>
            <td data-th-text="${flight.origin}"></td>
            <td data-th-text="${flight.destination}"></td>
            <td data-th-text="${flight.price}"></td>
            <td data-th-text="${flight.departureTime.toString().replace('T',' ')}"></td>
            <td data-th-text="${flight.arrivalTime.toString().replace('T',' ')}"></td>
            <td data-th-text="${flight.remainingSeatsCount}"></td>

            <td>
                <a data-th-href="${'/passenger/flights/book/'+flight.id}">Book</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>