<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/create-edit}"
>
<head>
    <title>Change Password</title>
</head>
<body>
<h1 data-layout-fragment="header">Change Password</h1>
<form data-layout-fragment="form" class="col-md-6" action="#" data-th-action="@{/changepassword}"
      data-th-object="${model}"
      method="post">
    <div class="form-group">
        <label data-th-for="${#ids.next('currentPassword')}">Current Password</label>
        <input class="form-control" type="password" data-th-field="*{currentPassword}"/>
    </div>
    <div class="form-group">
        <label data-th-for="${#ids.next('newPassword')}">Password</label>
        <input class="form-control" type="password" data-th-field="*{newPassword}"/>
    </div>
    <div class="form-group">
        <label data-th-for="${#ids.next('confirmPassword')}">Confirm Password</label>
        <input class="form-control" type="password" data-th-field="*{confirmPassword}"/>
    </div>
    <button class="btn btn-primary" type="submit">OK</button>
</form>
</body>
</html>