<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/layout}"
>
<head>
    <title>Home Page</title>
</head>
<body>
<div data-layout-fragment="content">
    <div class="jumbotron">
        <h1>Welcome to Flight Booking System</h1>
        <p>Final project for Spring 2017 Java Lesson.</p>
        <a class="btn btn-large btn-success" href="/login">Login Now</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h1>Go where you want</h1>
            <p>View and book flights.</p>
            <a class="btn btn-primary" href="/flights">Book Flights</a>
        </div>
        <div class="col-md-4">
            <h1>Become a member</h1>
            <p>Register as a passenger.</p>
            <a class="btn btn-primary" href="/register">Register</a>
        </div>
        <div class="col-md-4">
            <h1>Administrator</h1>
            <p>Manage the system.</p>
            <a class="btn btn-primary" href="/manage">Manage</a>
        </div>
    </div>
</div>
</body>
</html>