<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/layout}"
>
<head>
    <title>Flight Detail</title>
</head>
<body>
<div data-layout-fragment="content">
    <div class="page-header">
        <h1 data-th-text="${'Flight '+model.flightNumber}"></h1>
    </div>
    <div class="row">
        <a class="col-md-1" data-th-href="@{'/manage/flights/'+${model.id}+'/publish'}"
           data-th-if="${model.status.toString()}=='UNPUBLISHED'">Publish</a>
        <a class="col-md-1" data-th-href="@{'/manage/flights/'+${model.id}+'/edit'}"
           data-th-unless="(${model.status.toString()}=='TERMINATE') or (${model.status.toString()}=='DELETED')">Edit</a>
        <a class="col-md-1" data-th-href="@{'/manage/flights/'+${model.id}+'/delete'}"
           data-th-if="(${model.status.toString()}=='UNPUBLISHED') or (${model.status.toString()}=='TERMINATE')">Delete</a>
    </div>
    <br/>
    <div>
        <ul class="nav nav-tabs" id="mainTabs">
            <li role="presentation" class="active"><a href="#flight-info" aria-controls="flight-info" role="tab"
                                                      data-toggle="tab">Flight
                Info</a></li>
            <li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="flight-info">
                <div class="row">
                    <div class="col-md-4">
                        <h2>City Info</h2>
                        <h3>From&nbsp;<b data-th-text="${model.origin}"></b>&nbsp;To&nbsp;<b
                                data-th-text="${model.destination}"></b></h3>
                    </div>
                    <div class="col-md-4">
                        <h2>Departure</h2>
                        <h3 data-th-text="${model.departureTime.toString().replace('T',' ')}"></h3>
                    </div>
                    <div class="col-md-4">
                        <h2>Arrival</h2>
                        <h3 data-th-text="${model.arrivalTime.toString().replace('T',' ')}"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h2>Price</h2>
                        <h3 data-th-text="${model.price}"></h3>
                    </div>
                    <div class="col-md-4">
                        <h2>Capacity</h2>
                        <h3 data-th-text="${model.capacity}"></h3>
                    </div>
                    <div class="col-md-4">
                        <h2>Status</h2>
                        <h3 data-th-text="${model.status}"></h3>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="orders">
                <table class="table table-hover">
                    <thead>
                    <th>Creation Time</th>
                    <th>Passenger</th>
                    <th>Seat</th>
                    <th>Price</th>
                    <th>Status</th>
                    </thead>
                    <tbody>
                    <tr data-th-each="order:${model.orders}">
                        <td data-th-text="${order.creationTime}"></td>
                        <td data-th-text="${order.passengerName}"></td>
                        <td data-th-text="${order.seat}"></td>
                        <td data-th-text="${order.price}"></td>
                        <td data-th-text="${order.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
    $('#mainTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})


    </script>
</div>
</body>
</html>