<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{shared/create-edit}"
>
<head>
    <title>Edit Flight</title>
</head>
<body>
<div>
    <h1 data-layout-fragment="header">Edit Flight</h1>
    <form data-layout-fragment="form" class="col-md-6" action="#"
          data-th-action="@{'/manage/flights/'+${flightId}+'/update'}"
          data-th-object="${model}"
          method="post">
        <div class="form-group">
            <label data-th-for="${#ids.next('price')}">Price</label>
            <input class="form-control" type="number" data-th-field="*{price}"/>
        </div>
        <div class="form-group">
            <label data-th-for="${#ids.next('capacity')}">Capacity</label>
            <input class="form-control" type="number" data-th-field="*{capacity}"/>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>

</div>
</body>
</html>