<!DOCTYPE html>
<html lang="en" layout:decorate="~{shared/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit Administrator</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Edit Administrator</h1>
    <div class="row">
        <form class="col-md-6" action="#" th:action="@{'/manage/admins/'+${adminId}+'/update'}" th:object="${model}"
              method="post">
            <div class="form-group">
                <label th:for="${#ids.next('userName')}">User Name</label>
                <input class="form-control" type="text" th:field="*{userName}"/>
            </div>
            <button class="btn btn-default" type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>