<!DOCTYPE html>
<html lang="en" layout:decorate="~{shared/layout}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Manage Flights</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h1>All Flights</h1>
        <a href="/manage/flights/create">Create</a>
    </div>
    <table class="table table-hover">
        <thead>
        <th>Flight Number</th>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Capacity</th>
        <th>Order Count</th>
        <th>Status</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr th:each="flight:${flights}">
            <td th:text="${flight.flightNumber}"></td>
            <td th:text="${flight.origin}"></td>
            <td th:text="${flight.destination}"></td>
            <td th:text="${flight.price}"></td>
            <td th:text="${flight.departureTime}"></td>
            <td th:text="${flight.arrivalTime}"></td>
            <td th:text="${flight.capacity}"></td>
            <td th:text="${flight.orderCount}"></td>
            <td th:text="${flight.status}"></td>

            <td>
                <a th:href="${'/manage/flights/'+flight.id+'/'}">Detail</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>